body {
  font-size: .875rem;
}

.italic{
  font-style: italic !important;
}

.strong{
  font-weight: bold !important;
}

.underline{
  text-decoration: underline !important;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active, .sidebar .nav-link:hover {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
  * Content
  */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
  * Navbar
  */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.select2 {
  width: 100% !important;
}

.services-actions{
    display: none;
}

.services-actions button{
  width: 100%;
}

.services-actions>row{
  display: flex;
}


.btn:not(.palette-White):not(.btn-default):not(.btn-outline-secondary) {
  color: #fff;
}

.btn:not(.btn-link) {
  box-shadow: 0 2px 5px rgb(0 0 0 / 16%), 0 2px 10px rgb(0 0 0 / 12%);
}

.btn:hover:not([disabled]) {
  opacity: .9;
}

.form-columnar textarea, textarea{
  resize: none;
  width: 100%;
}

.required, .error{
  color: red;
}

.card {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
  border-radius: 2px;
}

.card-body.form-padding {
  padding: 15px 25px;
}


.card-header {
  padding: 15px;
}

.card-header>h2 {
  font-size: 16px;
  font-family: Oxygen,sans-serif;
  font-weight: 700;
  margin: 0 0 0 0.5rem;
}

.card-body.card-padding {
  padding: 30px 33px;
}


.card-header {
  position: relative;
  /* padding: 30px; */
  border-radius: 2px 2px 0 0;
}

.c-white{
  color: white !important;
}

.palette-Light-Blue-800 {
  background-color: #0277bd;
}

.palette-Light-Blue-600 {
  background-color: #039be5;
}

.palette-Green-400 {
  background-color: #66bb6a;
}

.palette-Blue-300 {
  background-color: #64b5f6;
}

.palette-Red-300 {
  background-color: #e57373;
}

.palette-Deep-Orange-300 {
  background-color: #ff8a65;
}

.palette-Orange-300 {
  background-color: #ffb74d;
}

.palette-Indigo-300 {
  background-color: #7986cb;
}

.palette-Grey-100 {
  background-color: #f5f5f5;
}

.f-700 {
  font-weight: 700!important;
}

/* Loading Spinner */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 42px;
  visibility: hidden;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #C42543;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
  
.date-generated-wrapper{
  text-align: center;
}


.date-generated-wrapper > input{
  display: inline-block;
  width: 46%;
}

.date-generated-wrapper > span{
  display: inline-block;
  width: 4%;
  text-align: center;
}

.traffic-color-critical{
  background-color: #7030A0;
}

.traffic-color-high{
  background-color: #FF0000;
}

.traffic-color-medium{
  background-color: #ED7D31;
}

.traffic-color-low{
  background-color: #00B0F0;
}

.traffic-color-informational{
  background-color: #00B050;
}

.form-group.row {
  margin-left: 0px;
}

/* .list-group-item:hover{
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  cursor:not-allowed;
} */

span.del-item{
  display: block;
  float: right;
  cursor: pointer;
}

.findings, .total-findings{
  text-align: center !important;
}

.help-icon{
  display: block;
  float: right;
  cursor: pointer;
  margin-left: 0.25em;
}

.card-header > h2 > a{
  color: white;
}

.feather-help-circle{
  width: 20px !important;
  height: 20px !important;
  margin-right: 0.75rem;
}

.feather-trash-2:hover,
.del-item:hover {
  color: #f00 !important;
}

button.ui-dialog-titlebar-close{
  display: none;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
  float: right;
}

.helper-tooltip{
  width: 14px !important;
  height: 18px !important;
  cursor: pointer;
}

.tooltip-text{
  font-size: 10px;
}